body {
	/*background: linear-gradient(0deg, #E8A798 0%, #F0B0BC 20%, #F6F6EB 40%, #D7ECD9 60%, #84B4C8 80%, #C1BBDD 100%);*/
	background: linear-gradient(0deg, #CCFFCC 0%, #CCEECC 20%, #CCDDCC 40%, #CCCCCC 60%, #CCBBCC 80%, #CCAACC 100%);
}

#container {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;

}

img {
	width:80%;
	height:auto;
	padding:10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:20px;
}

h1 {
	text-align:center;
	padding-top:15%;
	font-size: 100px;
	color:black;
	line-height: 90%;
	font-family: urbane-rounded,sans-serif;
	font-weight: 500;
	font-style: normal;
	padding-bottom:200px;

}

h2 {
	text-align:center;
	font-family: urbane-rounded,sans-serif;
	font-weight: 400;
	font-style: normal;
	/*padding-bottom:10px;*/
	font-size:20px;
	/*padding-left:10px;*/
}


p {
	text-align:center;
	font-family: urbane-rounded,sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-bottom:-1px;
	font-size:15px;

}

.movie-title {
	/*display: inline;*/
	text-align:center;
	/*padding-left:30px;
	padding-bottom:200px;*/
}

.image-container {
/*	display:inline;*/
	
}


.filter {
	 font-family: urbane-rounded, sans-serif;
	 font-size: 25px;
	 color:black;
	 border: none;
	 background-color:transparent;
	 padding:10px;

}

button {
	 font-family: urbane-rounded, sans-serif;
	 font-size: 23px;
	 color:black;
	 border: none;
	 background-color:transparent;

}

/* Navbar container */
/*.navbar {
  overflow: hidden;
  background-color:transparent;
  font-family: sans-serif;
  top:450px;
  left:;
  position:absolute;


}*/

/* Links inside the navbar */
/*.navbar a {
  float: left;
  font-size: 30px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

/* Lab Button */
/*.lab {
  float: left;
  overflow: hidden;
}*/

/* Dropdown button */
/*.lab .labbtn {
  font-size: 30px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}*/
/*
.navbar a:hover, .lab:hover .labbtn {
  background-color: white;
}*/

/* Dropdown content (hidden by default) */
/*.dropdown2-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

/* Links inside the dropdown */
/*.dropdown2-content a {
  float: none;
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}*/

/*
.dropdown2-content a:hover {
  background-color:white;
}


.lab:hover .dropdown2-content {
  display: block;

}
*/


/*.navigation {
	text-align:center;
	font-family: urbane-rounded,sans-serif;
	position:absolute;
	top: 650px;
	left:220px;
	font-size:25px;
	box-sizing:border-box;

}*/

/*.navigation {
	text-align:center;
	background-color:transparent;
	box-sizing:border-box;
	font-family: urbane-rounded,sans-serif;
	top: 650px;
	left:220px;
	position:absolute;
	font-size:30px;
}

.navigation ul {
	display:inline-flex;
	list-style:none;
	color:black;
}

.navigation ul li {
	padding:30px;
	width:200px;

}

.navigation ul li :hover {
	background-color:white;
	border-radius:3px;
}


.navigation ul li {
	width:300px;
	padding:1px;

}

.navigation ul li: hover{
	background:white;
}


.navigation ul li a {
	text-decoration:none;
	color:black;
}*/

/*.drop a {
	display:block;
	margin:10px;


}*/

/*.navigation ul li: hover {
	background-color:white;
}

.navigation ul li: hover .drop {
	display:block;
	position:absolute;
	background-color:white;

}

.navigation ul li: hover .drop ul {
	display:block;
	margin:10px;
*/
/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 650px;
  left:80px;
}
*/

/*a {
  float: left;
  padding-left:200px;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
  font-family: urbane-rounded,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color:transparent;
  border:0px;
  font-size:25px;
  
 }*/

/*.dropbutton{
	float: left;
 	padding-left:200px;
 	display: block;
 	color: black;
 	text-align: center;
 	padding: 16px 25px;
  	text-decoration: none;
  	font-family: urbane-rounded,sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	background-color:transparent;
  	border:0px;
  	font-size:25px;
}*/
/* .navigation {
 	overflow: hidden;
 	background-color:transparent;
 }*/

/*.navigation a {
	float: left;
  	font-size: 16px;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}*/


/*.content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}*/

/*div {
	align-items:center;
}*/


/*a:hover:not(ul) {
  background-color:white ;
}*/

/*.content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
*/
/*div {
	align-items:center;
}*/

/*ul {
  overflow: hidden;
  background-color:transparent;
  position: absolute;
  top: 650px;
  left:80px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}*/

/*.navigaiton a {
  float: left;
  font-size: 16px;
  color:#CCAACC;
  text-align: center;
  text-decoration: none;
  display: block;
  padding-left:200px;
  display: block;
  color: black;
  padding: 16px 25px;
  text-decoration: none;
  font-family: urbane-rounded,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color:transparent;
  border:0px;
  font-size:25px;
}
*/
/* The dropdown container */
/*.dropdown {
  float: left;
  overflow: hidden;
}*/

/* Dropdown button */
/*.dropdown .dropbutton {
  font-size: 25px;
  border: none;
  cursor:pointer;
  outline: none;
  color:black ;
  padding: 14px 16px;
  background-color: inherit;
  font-family: urbane-rounded,sans-serif ; 
  margin: 0; 
}*/

/*.navigation a:hover, .dropdown:hover .dropbutton {
  background-color: white;
}
*/
/* Dropdown content (hidden by default) */
/*.info {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

/* Links inside the dropdown */
/*.info a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}*/

/* Add a grey background color to dropdown links on hover */
./*info a:hover {
  background-color: #ddd;
}*/

/* Show the dropdown menu on hover */
/*.dropdown:hover .info {
  display: block;
}
*/
/*.show {
  display: block;
}*/
